### Imports ####################################################################

importFrom("grDevices", "dev.off")


### Exports ####################################################################

export("dev.off.crop")
